<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="shortcut icon" href="/static/images/favicon.png" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Built with Express, PostgreSQL. Deployed on Azure.</p>
    <a href="/api">Go to Swagger API Docs.</a>
  </body>
</html>
